<!-- Gitment-->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '{{ page.url }}', // 可选。默认为 location.href
  owner: 'maxscut',
  repo: 'github.com/MaxSCUT/MaxSCUT.github.io',
  oauth: {
    client_id: 'fa2a4fb9c7575272096d',
    client_secret: '1fb0ce52ec9115f92eecf22efae3ed117c46be4d',
  },
})
gitment.render('container')
</script> 