<!-- Gitment-->
<div id="container"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
var gitment = new Gitment({
  id: '{{ page.url }}', // 可选。默认为 location.href
  owner: 'maxscut',
  repo: 'github.com/MaxSCUT/MaxSCUT.github.io',
  oauth: {
    client_id: 'fa2a4fb9c7575272096d',
    client_secret: '1fb0ce52ec9115f92eecf22efae3ed117c46be4d',
  },
})
gitment.render('container')

const gitalk = new Gitalk({
  clientID: 'fa2a4fb9c7575272096d',
  clientSecret: '1fb0ce52ec9115f92eecf22efae3ed117c46be4d',
  repo: 'github.com/MaxSCUT/MaxSCUT.github.io',
  owner: 'max',
  admin: ['MaxSCUT'],
  // facebook-like distraction free mode
  distractionFreeMode: false
})

gitalk.render('gitalk-container')
</script> 